<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Advanced React Practice</title>
  </head>
  <body>
    <h2>Hello Express and EJS --- <%= answer %></h2>
  </body>
</html>
